package pages

import "github.com/PS-Wizard/VotingSystemUI/views/components"

templ Home() {
	@components.Base("Home Page") {
		@components.Card("Default", "some content 1235")
		@components.Card("Default", "fasdfs")
		@components.Card("Dcwsfasdefault", "asfsfsadf")
		<!-- Modal toggle -->
	}
}
