package pages

import "github.com/PS-Wizard/VotingSystemUI/views/components"

templ Home() {
	@components.Base("Home Page") {
		<button class="btn btn-info">Default</button>
        <p>Something Something Soemthinc:w</p>

	}
}
